-
  const dataPoints = [
    {
      place: 'Оборудованный кемпинг (Имеретия)',
      coordinates: {
        lat: '42.587277',
        lng: '42.700982',
      },
      text: 'Сегодня нас ждёт долгий маршрут, поэтому времени на раскачку нет — сразу выдвигаемся к точке кемпинга. В пути будем останавливаться только у самых живописных мест, чтобы полюбоваться видами. Вечером — заслуженный отдых у костра.',
      photo: 'images/aghvi-eco-camping-in-georgia-in-campsaround-13.jpg',
      link: 'https://www.instagram.com/aghvi.camping/',
    },
    {
      place: 'Каньон Окаце',
      coordinates: {
        lat: '42.454770',
        lng: '42.549449',
      },
      text: 'Сегодня нас ждёт каньон Окаце. Выходим с утра — впечатлений будет на весь день.',
      photo: 'images/okace.jpg',
      link: 'https://www.advantour.com/rus/georgia/kutaisi/okatse-canyon.htm',
    },
    {
      place: 'Campsite under two oaks',
      coordinates: {
        lat: '42.362143',
        lng: '42.597318',
      },
      text: 'Каньоны позади, ноги гудят, а глаза полны впечатлений. Теперь наша задача — добраться до ближайшего кемпинга, где можно поставить палатки, перекусить и как следует выспаться перед новым днём.',
      photo: 'images/oaks.jpg',
      link: 'https://www.booking.com/hotel/ge/campsite-under-two-oaks.ru.html?aid=356980&label=gog235jc-10CAsoUkIXY2FtcHNpdGUtdW5kZXItdHdvLW9ha3NIIlgDaDuIAQGYATO4AQfIAQzYAQPoAQH4AQGIAgGoAgG4Atuaks8GwAIB0gIkY2RiYTdiOTItN2VhYi00ZGEyLWJhN2ItYjJmNzM4OWUxZDIw2AIB4AIB&sid=c598d7ad2989f44911c55b3e6f43b118&all_sr_blocks=1598795001_430879140_1_42_0%2C1598795001_430879140_1_42_0&checkin=2026-04-28&checkout=2026-04-29&dest_id=-2327544&dest_type=city&dist=0&group_adults=2&group_children=0&hapos=1&highlighted_blocks=1598795001_430879140_1_42_0%2C1598795001_430879140_1_42_0&hpos=1&matching_block_id=1598795001_430879140_1_42_0&no_rooms=1&req_adults=2&req_children=0&room1=A%2CA&sb_price_type=total&sr_order=popularity&sr_pri_blocks=1598795001_430879140_1_42_0__2170%2C1598795001_430879140_1_42_0__2170&srepoch=1776586084&srpvid=679739317e500152&type=total&ucfs=1&',
    },
    {
      place: 'Пещера Прометея',
      coordinates: {
        lat: '42.376668',
        lng: '42.600808',
      },
      text: 'А теперь нас ждёт пещера Прометея — огромный подземный мир со сталактитами, сталагмитами и подземной рекой. Внутри прохладно и очень красиво, особенно с цветной подсветкой.',
      photo: 'images/prometheus-cave-formed.jpg',
      link: 'https://www.advantour.com/rus/georgia/kutaisi/prometheus-cave.htm',
    },
    {
      place: 'Заброшенные санатории',
      coordinates: {
        lat: '42.327720',
        lng: '42.602638',
      },
      text: 'Далее отправляемся в заброшенные санатории Цхалтубо, где любил лечиться Сталин. Величественные советские здания с колоннами и мраморными лестницами стоят в запустении — атмосфера таинственная и немного жутковатая. Место для любителей сталкерских прогулок и необычных фото.',
      photo: 'images/chaltubo.jpeg',
      link: 'https://dzen.ru/a/Zh_eD9cHVTY55uX1',
    },
    {
      place: 'Крепость Нокалакеви',
      coordinates: {
        lat: '42.357865',
        lng: '42.193240',
      },
      text: 'Наша следующая точка — крепость Нокалакеви.',
      photo: 'images/nokalakevi.jpg',
      link: 'https://travelgeorgia.ru/98/',
    },
    {
      place: 'Горячие источники (у Нокалакеви)',
      coordinates: {
        lat: '42.365617',
        lng: '42.195372',
      },
      text: 'Спускаемся вниз к горячим источникам — и, возможно, прямо тут же поставим палатки для отдыха. Тёплая вода, расслабление после долгого дня и ночлег под звёздами.',
      photo: 'images/nokalakevis-gogirdovani-tsqlebi-1.jpg',
      link: 'https://georgiantravelguide.com/ru/nokalakevis-gogirdovani-tsqlebi',
    },
    {
      place: 'Пляж Уреки',
      coordinates: {
        lat: '41.997682',
        lng: '41.758343',
      },
      text: 'А теперь нас ждёт пляж Уреки — место с чёрным магнитным песком, каких мало на всём побережье. Обычно в Грузии пляжи галечные, а здесь редкое исключение: мягкий, мелкий песок тёмно-серого цвета, почти чёрный. Говорят, он лечебный — содержит магнетит и создаёт слабое магнитное поле, полезное для сердца, суставов и нервов',
      photo: 'images/sea.jpeg',
      link: 'https://101hotels.com/georgia/ureki/camping_in_ureki.html?utm_referrer=https%3A%2F%2Fwww.google.com%2F',
    },
    {
      place: 'Местия',
      coordinates: {
        lat: '43.039262',
        lng: '42.730278',
      },
      text: 'Далее, если погодные условия позволят, отправляемся в Местию — высокогорный посёлок в сердце Сванетии. Место известно своими древними каменными башнями-крепостями — сванские башни, Сванский комплекс Маргиани, минеральный источник. Канатка Хацвали — если работает.',
      photo: 'images/mestiya.jpg',
      link: 'https://gotrip.ge/blog/chto-posmotret/mestiya-chto-posmotret/',
    },
    {
      place: 'Уплисцихе',
      coordinates: {
        lat: '41.964158',
        lng: '44.185685',
      },
      text: 'Наша следующая точка — древний пещерный город Уплисцихе. Это один из первых городов на территории Грузии, высеченный прямо в скале',
      photo: 'images/uplistsikhe.jpeg',
      link: 'https://gotrip.ge/blog/chto-posmotret/mestiya-chto-posmotret/',
    },
    {
      place: 'Крепость Хертвиси',
      coordinates: {
        lat: '41.479628',
        lng: '43.285770',
      },
      text: 'Наша следующая точка — крепость Хертвиси. Это одна из древнейших и лучше всего сохранившихся крепостей Грузии',
      photo: 'images/caption.jpg',
      link: 'https://v-georgia.com/showplaces/xarcvisi-odna-iz-naistarejshix-krepostej-gruzii-2/',
    },
    {
      place: 'Вардзия',
      coordinates: {
        lat: '41.381076',
        lng: '43.284224',
      },
      text: 'Наша следующая точка — Вардзия.Это огромный пещерный монастырь XII–XIII веков, вырубленный в скалах на высоте 1300 м над уровнем моря.',
      photo: 'images/vardzia.jpg',
      link: 'http://advantour.com/rus/georgia/vardzia.htm',
    },
    {
      place: 'озеро Табацкури',
      coordinates: {
        lat: '41.645570',
        lng: '43.626242',
      },
      text: 'Это одно из самых глубоких и крупных озёр Грузии, расположенное на Джавахетском нагорье на высоте почти 2000 метров . Озеро вулканического происхождения, окружённое горами, выглядит очень живописно — чистая вода, крутые берега и небольшой островок посередине, который служит важным местом для гнездования птиц',
      photo: 'images/tabackuri.jpg',
      link: 'https://georgiantravelguide.com/ru/ozero-tabackuri',
    },
    {
      place: 'Село Хуло',
      coordinates: {
        lat: '41.636345',
        lng: '42.296034',
      },
      text: 'Хуло — это настоящая "потайная Аджария", где можно почувствовать атмосферу нетуристической Грузии, попробовать знаменитую хулойскую картошку и насладиться видами, от которых захватывает дух. Главный аттракцион посёлка — канатная дорога Хуло–Таго.Наша следующая точка — село Хуло. Это маленькое село в Аджарии, которое находится на берегу моря. Здесь есть много водопадов и красивых мест для фотографий.',
      photo: 'images/hulo.jpg',
      link: 'https://batumilife.com/hulo/',
    },
    {
      place: 'Гомисмта',
      coordinates: {
        lat: '41.827945',
        lng: '42.158217',
      },
      text: 'Если повезет наша следующая точка — Гомисмта, настоящее «королевство облаков» в сердце Гурии.',
      photo: 'images/gomismta.webp',
      link: 'https://v-georgia.com/showplaces/gomis-mta-pervozdannaya-priroda-vyshe-oblakov/',
    },
    {
      place: 'Крепость Петра',
      coordinates: {
        lat: '41.767854',
        lng: '41.753856',
      },
      text: 'Крепость Петра, византийская твердыня на скале над Чёрным морем.',
      photo: 'images/petra-fortress.jpg',
      link: 'https://www.advantour.com/rus/georgia/batumi/petra.htm',
    },
    {
      place: 'Кемпинг у водопада',
      coordinates: {
        lat: '41.530475',
        lng: '41.710530',
      },
      text: 'Ночёвка после Петры — кемпинг у водопада.',
      photo: 'images/mirveti.jpeg',
      link: 'https://georgia.to/ru/places-to-go/adjara/mirveti-waterfall/',
    },
    {
      place: 'Цветные горы (Кахетия)',
      coordinates: {
        lat: '41.541436',
        lng: '45.248625',
      },
      text: 'Цветные горы — это один из самых красивых и известных горных массивов Грузии. Они расположены в Западной Грузии, в районе Кахетии.',
      photo: 'images/mravalckaro.jpeg',
      link: 'https://georgiantravelguide.com/ru/raznocvetnye-gory-mravalckaro',
    },
    {
      place: 'Национальный парк Вашловани',
      coordinates: {
        lat: '41.246119',
        lng: '45.843801',
      },
      text: 'Саванна и каньоны. Ночёвка: кемпинг в парке (координаты выдают на месте).',
      photo: 'images/vashlovani.jpg',
      link: 'https://georgiantravelguide.com/ru/nacionalnyy-park-vashlovani',
    },
    {
      place: 'Шатили',
      coordinates: {
        lat: '42.659396',
        lng: '45.156477',
      },
      text: 'Высокогорье Хевсурети  — башни, если дорога открыта.',
      photo: 'images/shatili.jpg',
      link: 'https://www.travelgeorgia.ru/89/',
    },
    {
      place: 'Обсерватория Абастумани',
      coordinates: {
        lat: '41.754647',
        lng: '42.832104',
      },
      text: 'Наша следующая точка — Абастуманская астрофизическая обсерватория, первая высокогорная обсерватория СССР.',
      photo: 'images/abastumani.jpeg',
      link: 'https://v-georgia.com/showplaces/observatoriya-v-abastumani-mesto-gde-mozhno-smotret-na-zvezdy/',
    },
  ];
